@import url('https://fonts.googleapis.com/css2?family=Lato:wght@400;700&display=swap');

:root{
  --edge-curve: 1rem;
}

html{
  box-sizing: border-box;
  font-size: 62.5%;
}
*,*::after,*::before{
  box-sizing: inherit;
  padding: 0;
  margin: 0;
}
body{
  font-family: 'Lato', sans-serif;
  font-size: 1.7rem;
  margin: 0 auto;
  background-color: #006d77;
  color: #fff;
}

.btn-wrapper{
  text-align: center;
  margin-top: 2rem;
  margin-bottom: 3rem;
}
.btn{
  font-weight: 700;
  font-family: inherit;
  font-size: inherit;
  background-color: #e63946;
  color: #fff;
  padding: 1rem 4rem;
  border: none;
  border-radius: 1rem;
  -webkit-border-radius: 1rem;
  -moz-border-radius: 1rem;
  -ms-border-radius: 1rem;
  -o-border-radius: 1rem;
}

.info{
  text-align: center;
  margin-bottom: .5rem;
}
.container{
  margin: 0 auto;
  width: 50rem;
  height: 50rem;
}
.container div:first-child div:first-child{
  border-top-left-radius: var(--edge-curve);
}
.container div:first-child div:last-child{
  border-top-right-radius: var(--edge-curve);
}
.container div:last-child div:last-child{
  border-bottom-right-radius: var(--edge-curve);
}
.container div:last-child div:first-child{
  border-bottom-left-radius: var(--edge-curve);
}

/* With Flex */
.container{
  display: flex;
  flex-direction: column;
}
.container div{
  display: flex;
  flex: auto;
}
.container div div{
  border: 1px solid rgba(0, 0, 0, 0.1);
  background-color: #fff;
}

/* With Grid */
/* .container{
  display: grid;
}
.container div{
  display: grid;
  grid-auto-flow: column;
}
.container div div{
  border: 1px solid #777;
  background-color: #fff;
}
*/